CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y
# Networking
CONFIG_PACKAGE_kmod-e1000e=y
CONFIG_PACKAGE_kmod-igb=y
CONFIG_PACKAGE_kmod-r8169=y
CONFIG_PACKAGE_kmod-vmxnet3=y
# USB Networking
CONFIG_PACKAGE_kmod-usb-net=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_kmod-usb-net-ipheth=y
CONFIG_PACKAGE_usbmuxd=y
CONFIG_PACKAGE_libimobiledevice=y
CONFIG_PACKAGE_usbutils=y
# General
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-shawnwrt-index=y
CONFIG_PACKAGE_luci-app-shawnwrt-ota=y
CONFIG_PACKAGE_luci-app-ttyd=y
